   <form *ngIf="isInitFormVisible"  [formGroup]="form" (ngSubmit)="save()" >
      <div class="row mt-2 form-panel">
        <h2>Demande de projet artistique</h2>
        <p>Bonjour et bienvenue sur mon formulaire de contact !<br> 
          Si tu es arrivé.e jusqu’ici c’est que mon travail te plaît, et je te remercie déjà pour ton intérêt. 😊<br>
          Ce formulaire servira de base pour la compréhension de ton projet. Il n’est pas très long mais prends ton temps pour bien le remplir, afin que je te renseigne au mieux sur la faisabilité et le prix.
          Une fois le devis établi, si celui-ci te convient, nous pourrons fixer un rdv et démarrer ton dessin ! </p>
      </div>
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Adresse e-mail</label>
                <input class="form-control" name="email" id="field_email" formControlName="email" required/>
              </div>
          </div>
        </div>
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Nom et prénom</label>
                <input class="form-control" name="nom" id="field_nom" formControlName="nom" required />
              </div>
          </div>
        </div>
        
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Es-tu majeur.e ?</label>
                <div class="form-check">
                  <input class="form-check-input" id="majeur_oui" type="radio" value="oui" formControlName="majeur" required>
                  <label class="form-check-label" for="oui">Oui</label>
               </div>
                <div class="form-check">
                  <input #autreAgeButton class="form-check-input" id="majeur_non" type="radio" value="" formControlName="majeur" required>
                  <label class="form-check-label" for="autre">Autre</label>
                  <input class="form-control" formControlName="majeur" required [attr.disabled]="mineurButtonSelected() ? null : 'disabled'">
               </div>
              </div>
          </div>
        </div>

        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Quelle est la nature de ta demande ?</label>
                <div class="form-check">
                  <input class="form-check-input" id="personnelle" type="radio" value="personnelle" name="demande" formControlName="demande" required>
                  <label class="form-check-label" for="personnelle">Commander un tatouage personnel</label>
               </div>
            
               <div class="form-check">
                  <input class="form-check-input" id="flash" type="radio" value="flash" name="demande"  formControlName="demande" required>
                  <label class="form-check-label" for="flash">Réserver un tatouage flash (visible sur Instagram ou Facebook)</label>
               </div>

                <div class="form-check">
                  <input class="form-check-input" id="peinture" type="radio" value="peinture" name="demande"  formControlName="demande" required>
                  <label class="form-check-label" for="peinture">Réaliser un dessin / peinture</label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" id="autre" type="radio" value="autre" name="demande"  formControlName="demande" required>
                  <label class="form-check-label" for="autre">Autre</label>
  
                </div>
              </div>
          </div>
        </div>
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <button  class="btn btn-primary" type="submit" [disabled]="!form.valid">Suivant</button>
          </div>
        </div>
    </form>
    <ng-template demandeForm></ng-template>