<form  *ngIf="!isFormSent" [formGroup]="demandeForm" (ngSubmit)="save()" >
    <div class="row mt-2 form-panel">
        <h2>Autre</h2>
    </div>
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <div class="form-group">
            <label class="form-control-label">Explique-moi ce que je peux faire pour toi :</label>
            <input class="form-control" name="descriptif" id="field_descriptif" formControlName="descriptif" required/>
          </div>
      </div>
    </div>
    <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <button  class="btn btn-primary" type="submit" >Enregistrer</button>
        </div>
      </div>
</form>
<div class="progress form-group" *ngIf="progress > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
</div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="progress == 100">
    Merci pour ta demande, ton formulaire a bien été enregistré. Tu recevras un message de confirmation sur ton adresse email dans les plus brefs délais.<br> À bientôt !
</div>

<div class="progress form-group" *ngIf="progress ===-1">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="100">
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorServer">
  Il y a eu un problème lors du traitement de votre demande, le formulaire n'a pas pu être envoyé.<br> 
  Réessayez plus tard, ou envoyez directement votre requête par mail à l'artiste.
</div>
