<form  [formGroup]="demandeForm" (ngSubmit)="save()" >
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <div class="form-group">
            <label class="form-control-label">Réserver un Flash</label>
            <p class="form-control">{{descriptif}}</p>
          </div>
      </div>
    </div>

    
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <div class="form-group">
            <label class="form-control-label">Dans quelle ville souhaites-tu te faire tatouer ?</label>
            {{#villesWithMark}}
            <div class="form-check" *ngFor="let ville of villes">
              <input class="form-check-input" type="radio" {{#isSelected}}checked {{/isSelected}}>
              <label class="form-check-label">{{value}}</label>
           </div>
           {{/villesWithMark}}
            <div class="form-check">
              <input class="form-check-input" type="radio" {{#isAutreVille}}checked{{/isAutreVille}}>
              <label class="form-check-label" >Autre</label>
              {{#isAutreVille}}
              <p class="form-control">{{ville}}</p>
              {{/isAutreVille}}
            </div>
          </div>
      </div>
    </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    Envoie-moi la photo du Flash que tu souhaites réserver : 
                    <p class="fw-lighter">Si plusieurs motifs sont présents sur l’image, merci de l’entourer. Tu peux me demander plusieurs Flashs.</p>
                </label>
                 <img style="width:200px" src="data:{{imageFlash.type}};base64,{{imageFlash.buffer}}" />
          </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">Y aurait-il des modifications, des éléments à ajouter ?</label>
              <p class="form-control" >{{modifications}}</p>
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    A quel emplacement souhaites-tu faire ton tatouage ? 
                    <p class="fw-lighter">Envoie-moi une photo de la zone de ton corps, que tu auras entourée sur ton téléphone. La photo doit être de bonne qualité, avec un bon éclairage et bien prise de face. Si tu hésites entre plusieurs zones, envoie moi plusieurs photos.</p>
                </label>
             <img style="width:200px" src="data:{{imageEmplacement.type}};base64,{{imageEmplacement.buffer}}" />
          </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                  Quelle taille souhaites-tu pour ton tatouage ?
                    <p class="fw-lighter">Si autre, merci de donner une indication de la hauteur et de la largeur en cm.</p>
                </label>
              
                <div class="form-check">
                    <input class="form-check-input" type="radio" {{#isTailleDeLArtiste}}checked{{/isTailleDeLArtiste}}>
                    <label class="form-check-label">La taille prévue ou conseillée par l’artiste</label>
                 </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" {{^isTailleDeLArtiste}}checked{{/isTailleDeLArtiste}}>
                    <label class="form-check-label" for="autre">Autre</label>
                    {{^isTailleDeLArtiste}}
                        <p class="form-control" >{{taille}}</p>
                    {{/isTailleDeLArtiste}} 
                </div>              
            </div>
        </div>
      </div>
      
      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
              <label class="form-control-label">
                  Quand souhaites-tu concrétiser ton projet ?
                    <p class="fw-lighter">Je ferai au mieux en fonction de mon agenda.</p>
              </label>
              {{#planificationsWithMark}}
              <div class="form-check">
                <input class="form-check-input" type="radio" {{#isSelected}}checked{{/isSelected}}>
                <label class="form-check-label">{{value}}</label>
             </div>
             {{/planificationsWithMark}}
              
             <div class="form-check">
                <input class="form-check-input" type="radio" {{#isAutrePlanification}}checked{{/isAutrePlanification}}>
                <label class="form-check-label" >Autre</label>
                {{#isAutrePlanification}}
                <p class="form-control"  >{{planification}}</p>
                {{/isAutrePlanification}}
              </div>
            </div>
        </div>
      </div>
</form>