<form  *ngIf="!isFormSent" [formGroup]="demandeForm" (ngSubmit)="save()" >
    <div class="row mt-2 form-panel">
        <h2>Autre</h2>
    </div>
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <div class="form-group">
            <label class="form-control-label">Explique-moi ce que je peux faire pour toi :</label>
            <input class="form-control" name="descriptif" id="field_descriptif" formControlName="descriptif" required/>
          </div>
      </div>
    </div>
    <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <button  class="btn btn-primary" type="submit" >Enregistrer</button>
        </div>
      </div>
</form>
<app-form-footer [progress]="progress" [isEmailSent]="isEmailSent" [isFormSent]="isFormSent" [errorServer]="errorServer"></app-form-footer>
