
    <form  name="form" [formGroup]="form" (ngSubmit)="save()">
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Adresse e-mail</label>
                <input class="form-control" name="nom" id="field_nom" formControlName="email" />
              </div>
          </div>
        </div>
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Nom et prénom</label>
                <input class="form-control" name="nom" id="field_nom" formControlName="name" />
              </div>
          </div>
        </div>
        <div class="row form-panel justify-content-center mt-2">
          <div class="col-lg-8 col-sm-12 p-3">
            <div class="form-group">
                <label class="form-control-label">Es-tu majeur.e</label>
                <input class="form-control" name="nom" id="field_nom" formControlName="majeur" />
              </div>
          </div>
        </div>
    </form>
