<form  [formGroup]="demandeForm" (ngSubmit)="save()" >
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <div class="form-group">
            <label class="form-control-label">Commander un tatouage personnel (facultatif)  </label>
            <input class="form-control" name="descriptif" id="field_descriptif" formControlName="descriptif" />
          </div>
      </div>
    </div>

    
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <div class="form-group">
            <label class="form-control-label">Dans quelle ville souhaites-tu te faire tatouer ?</label>
            
            <div class="form-check" *ngFor="let ville of villes">
              <input class="form-check-input" type="radio" value="{{ville}}" formControlName="ville" required>
              <label class="form-check-label" for="{{ville}}">{{ville}}</label>
           </div>
            <div class="form-check">
              <input #autreVilleButton class="form-check-input" type="radio" value="" formControlName="ville" required>
              <label class="form-check-label" for="autre">Autre</label>
              <input class="form-control" formControlName="ville" [attr.disabled]="autreVilleButtonSelected() ? null : 'disabled'" required >
           </div>
          </div>
      </div>
    </div>

    <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    Explique moi l'idée de ton projet
                    <p class="fw-lighter">N’oublie pas de préciser en couleur ou noir et blanc. Tu peux si tu le souhaites me dire pourquoi cela est symbolique pour toi.</p>
                </label>
              <input class="form-control" name="idee" id="field_idee" formControlName="idee" />
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    Montre moi en image ce que tu aimerais, ou des idées qui t’inspirent : 
                    <p class="fw-lighter">Attention, je peux m’inspirer d’une photo, mais je ne refais pas à l’identique un tatouage déjà existant. Je souhaite garantir à chacun de mes travaux un caractère unique. Tes images de référence me permettront de mieux comprendre ce que tu recherches, et le style artistique que tu aimes.  </p>
                </label>
              <input class="form-control" type="file" name="imageInspiration"  id="field_imageInspiration"  (change)="uploadImageInspiration($event)"/>
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    A quel emplacement souhaites-tu faire ton tatouage ? 
                    <p class="fw-lighter">Envoie-moi une photo de la zone de ton corps, que tu auras entourée sur ton téléphone. La photo doit être de bonne qualité, avec un bon éclairage et bien prise de face. Si tu hésites entre plusieurs zones, envoie moi plusieurs photos.</p>
                </label>
              <input class="form-control" type="file" name="imageEmplacement" id="field_imageEmplacement"  (change)="uploadImageEmplacement($event)"/>
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">Quelle taille souhaites-tu  pour ton tatouage ?</label>
              <input class="form-control" name="taille" id="field_taille" formControlName="taille" />
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                  Quel est ton budget ?
                    <p class="fw-lighter">Si tu as un budget précis à ne pas dépasser, merci de l’indiquer.</p>
                </label>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" value="plustotpossible" formControlName="planification" required>
                <label class="form-check-label" for="plustotpossible">Le plus tôt possible</label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" value="moisprochain" formControlName="planification" required>
                <label class="form-check-label" for="moisprochain">Le mois prochain</label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" value="anneeprochaine" formControlName="planification" required>
                <label class="form-check-label" for="moisprochain">L'année prochaine</label>
             </div>
              <div class="form-check">
                <input #autrePlanificationButton class="form-check-input" type="radio" value="" formControlName="planification" required>
                <label class="form-check-label" for="autre">Autre</label>
                <input class="form-control" formControlName="ville" [attr.disabled]="autrePlanificationButtonSelected() ? null : 'disabled'" required >
             </div>
            </div>
        </div>
      </div>

      
      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
              <label class="form-control-label">
                  Quand souhaites-tu concrétiser ton projet ?
                    <p class="fw-lighter">Je ferai au mieux en fonction de mon agenda.</p>
              </label>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" value="indetermine" formControlName="budget" required>
                <label class="form-check-label" for="indetermine">indeterminé</label>
             </div>
              <div class="form-check">
                <input #autreBudgetButton class="form-check-input" type="radio" value="" formControlName="budget" required>
                <label class="form-check-label" for="autre">Autre</label>
                <input class="form-control" formControlName="ville" [attr.disabled]="autreBudgetButtonSelected() ? null : 'disabled'" required >
             </div>
            </div>
        </div>
      </div>

      {{form.value | json}}
      <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
        </div>
    </div>
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <button  class="btn btn-primary" type="submit" >Enregistrer</button>
      </div>
    </div>
</form>