<form  *ngIf="!isFormSent" [formGroup]="demandeForm" (ngSubmit)="save()" >

    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <h2>Réserver un flash</h2>
      </div>
    </div>

    <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
              <label class="form-control-label">Dans quelle ville souhaites-tu te faire tatouer ?</label>            
              <div class="form-check" *ngFor="let ville of villes">
                <input class="form-check-input" type="radio" value="{{ville}}" formControlName="ville" required>
                <label class="form-check-label" for="{{ville}}">{{ville}}</label>
             </div>
              <div class="form-check">
                <input #autreVilleButton class="form-check-input" type="radio" value="" formControlName="ville" required>
                <label class="form-check-label" for="autre">Autre</label>
                <input class="form-control" formControlName="ville" [attr.disabled]="autreVilleButtonSelected() ? null : 'disabled'" required >
             </div>
            </div>
        </div>
      </div>
  
      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    Envoie-moi la photo du Flash que tu souhaites réserver :  
                    <p class="fw-lighter">Si plusieurs motifs sont présents sur l’image, merci de l’entourer. Tu peux me demander plusieurs Flashs.</p>
                </label>
                <app-file-upload class="form-control" id="field_imagesFlash" name="imagesFlash" formControlName="imagesFlash"></app-file-upload>
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">Y aurait-il des modifications, des éléments à ajouter ?</label>
              <input class="form-control" name="modifications" id="field_modifications" formControlName="modifications" />
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    A quel emplacement souhaites-tu faire ton tatouage ? 
                    <p class="fw-lighter">Envoie-moi une photo de la zone de ton corps, que tu auras entourée sur ton téléphone. La photo doit être de bonne qualité, avec un bon éclairage et bien prise de face. Si tu hésites entre plusieurs zones, envoie moi plusieurs photos.</p>
                </label>
                <app-file-upload class="form-control" id="field_imagesEmplacement" name="imagesEmplacement" formControlName="imagesEmplacement"></app-file-upload>
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
                <label class="form-control-label">
                    Quelle taille souhaites-tu  pour ton tatouage ?
                    <p class="fw-lighter">Si autre, merci de donner une indication de la hauteur et de la largeur en cm.</p>
                </label>

                <div class="form-check">
                  <input class="form-check-input" type="radio" value="tailleDeLArtiste" formControlName="taille" required>
                  <label class="form-check-label" for="tailleDeLArtiste">La taille prévue ou conseillée par l'artiste</label>
               </div>
                <div class="form-check">
                  <input #autreTailleButton class="form-check-input" type="radio" value="" formControlName="taille" required>
                  <label class="form-check-label" for="autre">Autre</label>
                  <input class="form-control" formControlName="taille" [attr.disabled]="autreTailleButtonSelected() ? null : 'disabled'" required >
               </div>              
            </div>
        </div>
      </div>

      <div class="row form-panel justify-content-center mt-2">
        <div class="col-lg-8 col-sm-12 p-3">
          <div class="form-group">
              <label class="form-control-label">
                  Quand souhaites-tu concrétiser ton projet ?
                    <p class="fw-lighter">Je ferai au mieux en fonction de mon agenda.</p>
              </label>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Le plus tôt possible" formControlName="planification" required>
                <label class="form-check-label" for="plustotpossible">Le plus tôt possible</label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" value="Le mois prochain" formControlName="planification" required>
                <label class="form-check-label" for="moisprochain">Le mois prochain</label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" value="L'année prochaine" formControlName="planification" required>
                <label class="form-check-label" for="anneeprochaine">L'année prochaine</label>
             </div>
              <div class="form-check">
                <input #autrePlanificationButton class="form-check-input" type="radio" value="" formControlName="planification" required>
                <label class="form-check-label" for="autre">Autre</label>
                <input class="form-control" formControlName="planification" [attr.disabled]="autrePlanificationButtonSelected() ? null : 'disabled'" required >
             </div>

            </div>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="demandeForm.errors != null && demandeForm.errors['filesCapacityLimited']">
        Vos images ne peuvent pas être téléchargées car le poid total du formulaire dépasse 25Mo.<br>
        Veuillez remplacer vos images par des fichiers moins lourds, ou mettre moins d'images.<br><br> 
        Vous recevrez un  mail de confirmation à la fin de ce formulaire, et vous aurez la possibilité de m'envoyer plus d'images en répondant à ce mail.
      </div>
    <div class="row form-panel justify-content-center mt-2">
      <div class="col-lg-8 col-sm-12 p-3">
        <button  class="btn btn-primary" type="submit" [disabled]="!demandeForm.valid">Enregistrer</button>
      </div>
    </div>
</form>
<app-form-footer [progress]="progress" [isFormSent]="isFormSent" [errorServer]="errorServer"></app-form-footer>

