<!-- Le formulaire est en cours d'envoi -->
<div class="alert alert-primary" role="alert" *ngIf="progress ===0 && isFormSent">
    Connection au serveur en cours. Veuillez patienter... 
</div>

<!-- Si tout se passe bien afficher ce message-->
<div class="progress form-group" *ngIf="progress > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
    </div>
  </div>
  
  <div class="alert alert-success" role="alert" *ngIf="progress >=100">
    Merci pour ta demande, ton formulaire a bien été enregistré. Tu recevras un message de confirmation sur ton adresse email dans les plus brefs délais.<br> À bientôt !
  </div>
  <!-- Si probleme serveur afficher ce message-->
  <div class="progress form-group" *ngIf="progress ===-1">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="100">
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorServer">
    Il y a eu un problème lors du traitement de votre demande, le formulaire n'a pas pu être envoyé.<br> 
    Réessayez plus tard, ou envoyez directement votre requête par mail à l'artiste.
  </div> 